:root {

    /* font-family */
    --ff-play: 'Play', sans-serif;

    /* colors */
    --bright-orange: #f2b13a;
    --cyan: #30c3bd;
    --pastet-blue: #a8bec9;
    --background: #192a32;
    --slate: #1f3540;
    --green: #0abf30;

    /* font-size */
    --fs-1: 24px;
    --fs-2: 18px;
    --fs-3: 17px;
    --fs-4: 16px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;

    /* font-weight */
    --fw-400: 400;
    --fw-700: 700;

    /* shadow */
    --shadow-1: 0 4px 0 hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);

}

body {
    background-color: var(--background);
    color: var(--pastet-blue);
    font-family: var(--ff-play);
    font-size: var(--fs-1);
    height: 100vh;
}

.player1-color {
    color: var(--cyan);
}

.player2-color {
    color: var(--bright-orange);
}

.color {
    color: var(--background);
}

.xmark-color {
    color: var(--cyan);
}

.circle-color {
    color: var(--bright-orange)
}

.container {
    position: absolute;
    width: 600px;
    height: 880px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tools,
.stats {
    width: 600px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tools {
    gap: 109px;
}

.stats {
    gap: 61px;
}

.turn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--slate);
    width: 80px;
    height: 32px;
    font-weight: var(--fw-700);
    font-size: var(--fs-2);
    text-align: center;
    border-radius: 8px;
    padding: 6px;
    box-shadow: var(--shadow-1);
    position: relative;
    overflow: hidden;
}

.turn-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.turn-timer {
  width: 100%;
  height: 8px;
  margin-top: 4px;
  background-color: #e0e0e0;
  border-radius: 10px;
  position: relative;
}

.progress-bar {
  height: 100%;
  width: 0;
  border-radius: 10px;
  background-color: #00eb3f;
  transition: width 0.1s linear;
}

.current-turn {
    margin-right: 6px;
    font-size: 1.3rem;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pastet-blue);
    width: 30px;
    height: 30px;
    font-weight: var(--fw-700);
    font-size: var(--fs-2);
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.player1,
.player2,
.draws {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80px;
    height: 40px;
    font-weight: var(--fw-700);
    font-size: var(--fs-4);
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    color: var(--background);
}

.player1 {
    background-color: var(--cyan);
}

.player2 {
    background-color: var(--bright-orange);
}

.draws {
    background-color: var(--pastet-blue);
}

.score1,
.score2,
.draw {
    margin-top: 4px;
    font-weight: var(--fw-700);
    font-size: var(--fs-1);
}

.cells {
    display: flex;
}

.cell {
    width: 70px;
    height: 70px;
    background-color: var(--slate);
    margin: 8px;
    border-radius: 8px;
    box-shadow: var(--shadow-1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#message {
    background: var(--slate);
    border-radius: 8px;
    padding: 20px;
    width: 50%;
    height: 25%;
    max-width: 80%;
    position: relative;
    box-shadow: var(--shadow-2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: var(--pastet-blue);
}

#close:hover {
    color: var(--bright-orange);
}

#content {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 3rem;
}

#content h2 {
    color: var(--bright-orange);
    font-size: 3rem;
    margin-left: 5px;
}

#content i {
    color: var(--cyan);
    font-size: 3.5rem;
    margin-right: 8px;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.1) rotate(10deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

.icon-animation {
    animation: pop 0.3s ease;
}

